data/maarchRM/log.txt
web/tmp
web/public/dependency/
dependency/fileSystem/plugins/fid/cache/*
dependency/csrf/log/*
nbproject/
src/ext/*
vendor/*
data/maarchRM/medona/*
node_modules


tests/cypress/videos/*
!tests/cypress/videos/.gitignore

tests/cypress/screenshots/*
!tests/cypress/screenshots/.gitignore
package-lock.json
